<table class="table table-sm table-striped">
    <tr><th colspan="2" class="bg-info">Product</th></tr>
    <tr><th>Name</th><td>{{product?.name || 'Loading Data...'}}</td></tr>
    <tr><th>Category</th><td>{{product?.category || 'Loading Data...'}}</td></tr>
    <tr>
        <th>Description</th>
        <td>{{product?.description || 'Loading Data...'}}</td>
    </tr>
    <tr><th>Price</th><td>{{product?.price || 'Loading Data...'}}</td></tr>
    <tr><th colspan="2" class="bg-info">Supplier</th></tr>
    <tr><th>Name</th><td>{{product?.supplier?.name || 'Loading Data...'}}</td></tr>
    <tr><th>City</th><td>{{product?.supplier?.city || 'Loading Data...'}}</td></tr>
    <tr><th>State</th><td>{{product?.supplier?.state || 'Loading Data...'}}</td></tr>
    <tr><th>Products</th><td>{{product?.supplier?.products?.length || 'Loading Data...'}}</td></tr>
   

</table>